<p id="notice"><%= notice %></p>

<div class = "row">
  <h1 class = "col-md-6">All Purchases</h1> 
  <%= link_to 'New Purchase Category', new_purchase_category_path, class: "btn btn-default col-md-3 new-form-btn" %>
  <%= link_to 'New Purchase', new_purchase_path, class: "btn btn-default col-md-2 new-form-btn" %>
</div>

<div class = "row">
  <%= render partial: 'shared/purchase_table', locals: {purchases: @purchases} %>
</div>