<footer class = "navbar navbar-default footer">
  <div class = "navbar-bottom">
    <div class = "container center-block">
      <div class = "col-md-12 text-center">

        <ul class = "list-inline">   
            <li> <%= link_to "GitHub",   "https://github.com/guoarthur/Inventory-Management" %> </li>
            <li> <%= link_to "About",   about_path %> </li>
            <li> <%= link_to "Contact", contact_path %> </li>
        </ul>

        <p>
          &copy 2015. <br/>
          <small> Created by <%= link_to '@arthur_guo_', "https://twitter.com/arthur_guo_"%>. </small>
        </p>

      </div>
    </div>
  </div>
</footer>